@charset "utf-8";
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--sm-font-size);
  color: #fff;
  line-height: var(--sm-line-height);
  background-color: var(--default-blk);
}

.wrapper {
  width: 100%;
  height: auto;
}

/*공통영역*/
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}

/*헤더*/
header {
  width: 100%;
  height: 80px;
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color, height 0.5s ease-in-out;
}

header .con {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/*로고*/
h1 {
  width: fit-content;
  height: fit-content;
  margin: 30px 0;
}

h1 a {
  /*로고 흰색으로 색상 반전*/
  filter: invert(100%);
}

/*메뉴*/
#gnb {
  width: fit-content;
  height: 100%;
}

#gnb > ul {
  width: fit-content;
  height: auto;
  display: flex;
  gap: 40px;
  line-height: 80px;
  text-transform: capitalize /*첫글자만 대문자로*/;
  text-align: center;
}
#gnb > ul > li {
  width: 150px;

  position: relative;
}
#gnb > ul > li > a {
  display: block;
  font-weight: 500;
}
#gnb > ul > li:hover > a {
  color: var(--main-color);
}

/*2차메뉴*/
.submenu {
  width: 100%;
  height: 0px;
  line-height: var(--md-line-height);
  position: absolute;
  top: 100px;
  transition: 0.5s;
  z-index: 1000;
  overflow: hidden;
}
.submenu > li {
  height: fit-content;
}
.submenu > li > a {
  display: block;
  transition: 0.3s;
}
.submenu > li:hover > a {
  color: var(--main-color);
}
#gnb:hover .submenu {
  height: 152px;
}

/*submenu 뒤에 있는 전체 배경*/
#gnb::after {
  content: "";
  display: block;
  width: 100vw;
  height: 1px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 80px;
  left: 0;
  transition: height 0.5s ease-in-out, backgroundcolor 0.3s;
}

header:hover {
  border-bottom: 1px solid #000;
}
#gnb:hover::after {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #ddd;
}

/*아이콘*/
.icons {
  width: fit-content;
  height: 80px;
  display: flex;
  align-items: center;
}
.icons > a {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  transition: 0.5s;
}
.icons > a:hover {
  color: var(--default-blk);
  background-color: var(--sub-color);
  border-radius: 100%;
}
.icons > a:last-child {
  display: none;
}

/* 컨텐츠 영역*/
main,
section {
  width: 100%;
  height: auto;
}

/*메인 비주얼*/
.main_visual {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual_text {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  padding: 0 200px;
}
.visual_text > h2 {
  font-size: clamp(80px, 4.5vw, 100px);
  line-height: 1;
  margin-bottom: 40px;
  font-weight: 600;
}
.visual_text > h2 > span {
  -webkit-text-fill-color: transparent; /*폰트의 벡터 배경색을 투명하게 바꿈*/
  -webkit-text-stroke: 0.5px #fff; /*벡터는 패스를 따라 테두리가 생기므로,
   1px이라고 설정하면 2px처럼 보인다. 첫번째 자리는 두께, 두번째 자리는 색상이다.*/
}
.visual_text p {
  position: relative;
  animation: text_up 2s ease 1s 1 forwards;
  will-change: top opacity;
  font-weight: 300;
  font-size: var(--md-font-size);
  line-height: var(--md-line-height);
  opacity: 0;
}
@keyframes text_up {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
.visual_video {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.visual_video > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 아래 화살표 아이콘 */
.scroll_down {
  position: absolute;
  bottom: 50px;
  transition: 0.3s linear;
  filter: drop-shadow(0px 2px 3px #000);
}
.scroll_down:hover {
  bottom: 55px;
}

/*두번째 섹션*/

#sec2 {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.rocket {
  position: absolute;
  left: -200px;
  font-size: clamp(80px, 4.5vw, 100px);
  animation: rocket 5s linear 1s 1;
  animation-play-state: paused;
  will-change: transform;
}
#sec2:hover .rocket {
  animation-play-state: running;
}

@keyframes rocket {
  0% {
    transform: translate(0px) rotate(0deg);
  }
  100% {
    transform: translate(105vw) rotate(-360deg);
  }
}
